* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 10px;
  height: 100vh;
}
body {
  height: 100vh;
  min-height: 100vh;
}
/*header*/
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-li {
  text-decoration: none;
  color: #1d1d1d;
  font-size: 1.2rem;
  margin-right: 30px;
}

.nav-logo {
  display: flex;
  align-items: center;
}
.nav-logo img {
  width: 40px;
}

.header-sticky {
  z-index: 100;
  display: flex;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.7);
}
.header-sticky p {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 25%;
  margin-right: 30%;
  padding: 10px;
}
.header-sticky-btn {
  padding: 15px;
}
.header-sticky-btn button {
  background-color: #fa243c;
  color: #fff;
  border: none;
  height: 23px;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 3px 10px;
  font-weight: 700;
}
.header-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #f5f5f7;
  font-size: 1.3rem;
  color: #1d1d1f;
}
.header-banner a {
  color: #0066cc;
  text-decoration: none;
}
.header-banner a:hover {
  border-bottom: 1px solid #0066cc;
}

/*main*/
main {
  width: 100vw;
  height: 100vh;
}
.bg-video {
  width: 100%;
  height: 1250px;
}

.bg-video__content {
  position: relative;
  width: 100%;
  height: 1250px;
  object-fit: cover;
}
.video-btn {
  z-index: 1000;
  position: sticky;
  bottom: -10%;
  left: 50%;
  transform: translate(95%, -100px);
}
.main-video-btn-pause,
.main-video-btn-start {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.61);
  img {
    width: 25px;
    padding: 5px 5px 2px 5px;
  }
}

.video-letters {
  position: absolute;
  width: 100vw;
  top: 800px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 100;
  font-size: 12rem;
  font-weight: 700;
  text-align: center;
}
.title-scale {
  animation: scale 1s;
  font-size: 5rem;
}
.reveal1 {
  opacity: 0;
  animation: reveal 0.5s forwards 2s;
}
.reveal2 {
  opacity: 0;
  animation: reveal 0.5s forwards 2.5s;
}
.info-fadeIn {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  animation: fadeIn 2s forwards 3s;
}
.info-fadeIn-btn {
  border: none;
  border-radius: 30px;
  height: 50px;
  width: 150px;
  background-color: #fff;
  color: #111111;
  font-size: 1.6rem;
  font-weight: 700;
}
.video-letters-bottom {
  display: flex;
  justify-content: center;
  padding: 20px 0 0 0;
  animation: reveal 2s forwards;
}
.video-letters-bottom p {
  padding: 20px;
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.7);
}
.vlb-left {
  margin-right: 50px;
}
.vlb-title {
  font-size: 3rem;
  color: #fff;
  padding: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.vlb-btn-left {
  border: none;
  border-radius: 20px;
  width: 140px;
  height: 40px;
  font-size: 1.6rem;
  font-weight: 700;
}
.vlb-btn-right {
  border: none;
  border-radius: 20px;
  width: 220px;
  height: 40px;
  font-size: 1.6rem;
  font-weight: 700;
}

.main-card1,
.card1-overset {
  position: relative;
}
.card1-overset {
  display: none;
  background-color: lightgray;
  width: 1280px;
  height: 700px;
  border-radius: 30px;
  margin: 0 auto;
}

.main-card1 img {
  display: block;
  margin: 0 auto;
  padding: 30px;
  border-radius: 60px;
}
.card1-overset img {
  position: absolute;
  right: 10%;
  bottom: 0;
  width: 400px;
}
.card1-sm-title {
  font-size: 3rem;
  opacity: 0.7;
}
.card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;
  color: #fff;
  font-size: 7rem;
  font-weight: 700;
}
.card-info-overset {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-90%, -50%);
  font-size: 1.6rem;
}
.card-btn {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(194, 186, 186, 0.61);
  background-image: url('./images/plus.png');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: -200px;
  right: -350px;
}

@keyframes scale {
  0% {
    transform: scale(4);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes reveal {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
